.product {
    color: #0f2137;
    background-color: #ffffff;
    border: 1px solid #e3e4e8;
    padding: 16px 12px 9px;
    border-radius: 6px;
    width: 100%;
    height: auto;
    padding: 16px 24px 8px 24px;
}

.productTitle {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px;
    white-space: break-spaces;
}

.product:not(:last-child) {
    margin-bottom: 16px;
}

.productBody {
    margin: 0 0 16px;
}

.actionBar {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-top: 1px solid #e3e4ee;
    padding-top: 8px;
}

.actionBarItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionBarItem.active {
    color: #62bfad;
}
